<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Контакти</title>
</head>
<body>
    <div class="page-header">
        <h1>Тут будуть контакти ... </h1> 
    </div>
</body>
</html>
