@model e_shop.Models.ProductsListView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>

    @foreach (var p in Model.Products)
    {
        @Html.Partial("ProductSummary", p)
    }

    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
    </div>
</body>
</html>
