@model e_shop.Models.ListView
@{
    ViewBag.Title = "LED освітлення, Автоматика, Кабеленесучі системи, Кабель, Тепла підлога, Терморегулятори, Щитки, Бокси | Електро Коник";
}
<style>
    #menu .glyphicon {
        margin-right: 10px;
    }
</style>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-sm-4 col-md-3" id="menu">
        @Html.Action("Menu", "Nav")
    </div>
    <div class="col-sm-8 col-md-9" id="AllProducts">
            @Html.Action("AllProductSummary", new { category = Model.CurrentCategory, filter = Model.CurrentFilter, page = Model.Page})
    </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" data-dismiss="modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>



