@model e_shop.Models.ProductsListView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-5">
            @foreach (var p in Model.Products)
            {
                @Html.Partial("ProductSummary", p)
            }
            <div class="btn-group pull-right">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
            </div>
        </div>
    </div>
</body>
</html>
