@model e_shop.Models.ProductsListView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Каталог товарів</title>
</head>
<body>
    <div class="row panel">
        @*<div class="visible-xs">
            @Html.Action("Menu", "Nav", new {horizontalLayout = true })
        </div>*@
        <div id="categories" class="col-sm-3 hidden-xs">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8">
            @foreach (var p in Model.Products)
            {
                @Html.Partial("ProductSummary", p)
            }
            <div class="btn-group pull-right">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "Product", new { page = x, category = Model.CurrentCategory }))
            </div>
        </div>
    </div>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" data-dismiss="modal">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;">
                </div>
                @*<div class="modal-footer">
                    <div class="col-xs-12">
                        <p class="text-left">1. line of description<br>2. line of description <br>3. line of description</p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</body>
</html>


