@model e_shop.Models.ProductsListView

@if (Model.CurrentCategory == null)
{
    <div>
        <p>Тут буде каталог з фото ...</p>
    </div>
}
else
{
    foreach (var p in Model.Products)
    {
        @*if (counter != 0 && counter % 2 == 0)
            {
                @:
                    </div>
                @:<div class="row">
                        }*@
        <div class="col-sm-12 col-md-6">
            @Html.Partial("ProductSummary", p)
        </div>
        //counter++;
    }
}


<div class="col-sm-12" id="pager">
        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url. Action("List", "Product", new { page = x, category = Model.CurrentCategory, filter = Model.CurrentFilter }))
        </div>
    </div>



