<!DOCTYPE html>

<html>
<head>
    <style>
        /*.navbar-fixed-top {
            margin-left: -17px;
        }*/
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Про нас</title>
</head>
<body>
    <div class="page-header jumbotron">
        <h2><strong>Інтернет-магазин електротоварів "Електро Коник" </strong></h2><br />
        <p class="lead">    Реалізовує оптовому та роздрібному торгівлю електротоварами у Львові та по всій Україні за вигідними цінами. 
        У нас Ви зможете придбати усі необхідні електротовари з доставкою на об'єкт:<br />
        <span class="label label-info">кабель</span> <span class="label label-warning">тепла підлога</span> <span class="label label-primary">ПЗВ</span> <span class="label label-danger">автоматичні вимикачі</span> <span class="label label-success">реле напруги (відсікачі)</span> <span class="label label-warning">електричні щитки</span> <span class="label label-danger">розетки</span> <span class="label label-primary">вимикачі</span> тощо.</p>
    </div>
    <div class="page-header">
        <h4>В інтернет-магазині "Електро Коник" представлено продукцію таких провідних світових та українських брендів як:</h4>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-thumbnail" />
            </div>
            <div class="col-xs-6 col-md-3">
                <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-thumbnail" />
            </div>
            <div class="col-xs-6 col-md-3">
                <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-thumbnail" />
            </div>
            <div class="col-xs-6 col-md-3">
                <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-thumbnail" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-thumbnail" />
            </div>
            <div class="col-xs-6 col-md-3">
                <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-thumbnail" />
            </div>
            <div class="col-xs-6 col-md-3">
                <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-thumbnail" />
            </div>
            <div class="col-xs-6 col-md-3">
                <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-thumbnail" />
            </div>
        </div>
    </div>
    <div class="page-header">
        <h2>Також компанія надає послуги:</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-rounded" />
                    <div class="caption">
                        <h3>Монтаж теплої підлоги</h3>
                        <p>Опис послуги, опис послуги, опис послуги, опис послуги, опис послуги, опис послуги ...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-rounded" />
                    <div class="caption">
                        <h3>Ремонт терморегуляторів</h3>
                        <p>Опис послуги, опис послуги, опис послуги, опис послуги, опис послуги, опис послуги ...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img style="width:100%; height:220px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSBtZWV0IiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCI+PGRlZnMgLz48cmVjdCBmaWxsPSIjZWVlZWVlIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgLz48Zz48dGV4dCBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCIgeD0iNDQuMDY1IiB5PSI3MCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" alt="test" class="img-rounded" />
                    <div class="caption">
                        <h3>Прокладання електрики</h3>
                        <p>Опис послуги, опис послуги, опис послуги, опис послуги, опис послуги, опис послуги ...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
