@model e_shop.Models.LoginViewModel

@{
    ViewBag.Title = "Адміністратор: Вхід";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-4 col-sm-offset-4" style="margin-top:20px">
    <h2>ЕЛЕКТРОКОНИК</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Вхід в систему</strong></h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                if (TempData["message"] != null)
                {
                    <div class="alert alert-danger">@TempData["message"]</div>
                }
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Логін:</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-log-in"></span>  Увійти
                    </button>
                </div>
            }
        </div>
    </div>
</div>


@*<div class="col-sm-4"></div>*@
