@{
    ViewBag.Title = "Сторінку не знайдено | Електро Коник";
}
<h2 class="page-header" style="color:#777">
    Інтернет-магазин <img src="~/Images/Logo.png" width="300" height="80" />
</h2>
<p>
    Вибачте, сторінку не знайдено. Перевірте правельність введення адреси.
</p>
<p>
    @Html.ActionLink("Повернутися на головну", "Index", "Home", null, new { @class = "btn btn-primary" })
</p>