@model e_shop.Entities.Cart
<div class="navbar-right hidden-sm hidden-xs" style="margin-right:2px;">
    <a href=@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })
       class="btn btn-info navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span> Кошик
    </a>
</div>
<div class="navbar-right visible-sm visible-xs" style="margin: 0;">
    <a href=@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })
       class="btn btn-info navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
</div>
<div class="navbar-text navbar-right hidden-sm">
    <b class="hidden-sm hidden-xs hidden-md">Ваш кошик:</b>
    @Model.Lines.Sum(x => x.Quantity) товар(и),
    @Model.ComputeTotalValue().ToString("c")
</div>