@{
    ViewBag.Title = "Сторінку не знайдено";
}
<h2 class="page-header text-info">
    Інтернет-магазин <b>Електро Коник</b>
</h2>
<p>
    Вибачте, сторінку не знайдено. Перевірте правельність введення адреси.
</p>
<p>
    @Html.ActionLink("Повернутися на головну", "Index", "Home", null, new { @class = "btn btn-primary" })
</p>
